*{
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

.background{
    background-color: #3B4664;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;

}

.calculator{
    position: absolute;
    background-color: #181F32;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 10px 5px 5px #242a3b;
 ;
}

button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: #EAE3DB;
    border: none;
    color: #43495D;
    margin: 3px;
    border-radius: 4px;
    box-shadow: 0px 5px 5px #0e121d;
}

button:hover{
    background-color: #bbb5af;
}

#btn_equal{
    height: 106px;
    background-color: #D13F30;
    color: #EAE3DB;
}

#btn_equal:hover{
    background-color: #d63320;
}

#btn_zero{
    width: 106px;
}

#btn_clear{
    background-color: #647299;
    color: #EAE3DB;
}

#btn_clear:hover{
    background-color: #4a5f9c;
}

#result{
    background-color: #2d3753;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: #EAE3DB;
    text-align: right;
    padding: 5px;    
    
}